<!-- <div class="banner banner_cy" style="background-image: url(style/img/banner.png);"> -->
<div class="banner banner_cy" style="background-image: url(/ui2023/img/banner.png); background-position: center; background-blend-mode: overlay; background-size: cover;">
    <div class="banner_dian"></div>
    <div class="banner_textw">
      <div class="bg">
        <div class="juzhongduiqi">
          <div>
            <br style="user-select: none">
            <h1 style="user-select: none">Recruit</h1>
            <br style="user-select: none">
            <h2 style="text-transform: none; user-select: none">We are searching for talents from all over the world.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>