<footer class="footer">
  <br>
  <div class="footer_o">
    <br>
    <div class="bg">
      <div class="o_l"> 
        <!-- <a href="/"> 
          <img src="/ui2023/img/team_logo_long_white.png" class="footer_logo_white"><img src="/ui2023/img/team_logo_long.png" class="footer_logo_color">
         </a>  -->
      </div>
      <div class="o_l"> 
      </div>
      <div class="o_r"> 

        <!-- <a href="https://github.com/OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/github-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/github-colored.png" class="footer_logo_color"> 
        </a>

        <a href="https://twitter.com/OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/twitter-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/twitter-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="/ui2023/img/qrcode_for_gh_ab31cc47181d_430.jpg" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/wechat-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/wechat-colored.png" class="footer_logo_color"> 
        </a>

        <a href="https://www.zhihu.com/people/PerceptionX" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/zhihu-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/zhihu-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://medium.com/@opendrivelab" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/medium-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/medium-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://space.bilibili.com/503310953" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/bilibili-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/bilibili-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://www.youtube.com/@OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/ui2023/img/icon/youtube-white.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/youtube-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="mailto:contact@opendrivelab.com" style="user-select: none" > 
          <img src="/ui2023/img/icon/email.png" class="footer_logo_white"> 
          <img src="/ui2023/img/icon/email-colored.png" class="footer_logo_color"> 
        </a>  -->

      </div>
    </div>
    <br>
    <div class="bg">
      <div class="o_l"> 
        <!-- <a href="#"> 
          <img src="style/img/logo.svg" alt="">
         </a>  -->
         <!-- <a href="/">OpenDriveLab</a> -->
      </div>
      <div class="o_qr"  style="user-select: none"> 
         <li><iframe src="https://github.com/sponsors/OpenDriveLab/button" title="Sponsor OpenDriveLab" height="32" width="129" style="border: 0; border-radius: 6px;"></iframe></li>
        <!-- <img src="/ui2023/img/qrcode_for_gh_ab31cc47181d_430.jpg" >  -->
      </div>
    </div>
  </div>
  <!-- <div class="footer_nav color_bai">
    <div class="bg"> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin linkedin linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
    <!-- </div>
  </div> -->
  <!-- <div class="footer_t">
    <h6>OpenDriveLab</h6>
    <nav>
      <ul class="nospace inline pushright uppercase">
        <li><a  href="/e2ead/cvpr23.html"><i class="tb icon_home"></i></a></li> 
        <li><a href="/"><i class="tb icon_home"></i></a></li>
      </ul>
    </nav>
  </div> -->
  <div class="copyright">
    <p>
      OpenDriveLab<span class="copyright_span"> | </span><span class="copyright_br"><br style="display: inline;"></span>Copyright © 2021 - 2025 All Rights Reserved
      <span class="copyright_br"><br style="display: inline;"></span><br>
      <!-- <a href="/"><i class="tb icon_home"></i>OpenDriveLab</a>  -->
    </p>
  </div>

</footer>
