
<div class="header"  > 
  <div class="bg">
  <!-- <a class="head_fanhui" href="/"></a> -->
    <div class="rnav m"></div>
    <div class="logo">
      <!-- <a href="/">OpenDriveLab</a> -->
      <a href="/"> <img src="/ui2023/img/team_logo_long_white.png" class="bai"> <img src="/ui2023/img/team_logo_long.png" class="hei"></a> 
    </div>
    <div class="r_ul2">
      <ul class="r_ul2i">
        <li class="#"><a href="/" style="user-select: none">Home</a></li>
        <li class="#"><a href="/publications/" style="user-select: none">Publication</a></li>
        <li class="#"><a href="/team/" style="user-select: none">Team</a></li>
        <li class="#"><a href="/events/" style="user-select: none">Event</a></li>
      </ul>
    </div>
    
    </div>
  </div>
  <div class="rnav_br"></div>
  <div class="go_top" data-hd2="body"></div>
  