/* 
moblie
@media (max-width: 768px) {

}
  
tablet  
@media (min-width: 768px) {

}
  
notebook
@media (min-width: 992px) {

}
  
desktop
@media (min-width: 1200px) {

} 
*/



body {
    margin: 0;
    font-family: San Francisco, system-ui;
}



h1, h2, h3, h4, h5, h6, p, span, a, li, table, div {
    text-transform: none;
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p, span, li {
    text-align: justify;
}
br {
    user-select: none;
}
code {
    color: #00a0e8;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(0, 160, 232, .23);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
}
img {
    user-select: none;
}
li {
    list-style-type: circle;
}



a {
    font-weight: bold;
    text-decoration: none;
}
a:any-link:hover, a:-webkit-any-link:hover {
    opacity: .67;
}
a .link_img {
    display: none;
    content: url(/ui2024/style/icon/link.png);
}
a:hover .link_img {
    display: inline;
    height: 20px;
}

span a, p a, li a{
    font-weight: normal;
    color: #00a0e8;
}



.block, .block_left, .block_right, .block_footer, .block_header {
    display: flex;
    flex-basis: 0;
    padding: max(11px, 1%) max(33px, 3%) 0 max(33px, 3%);
}
.block_left {
    flex-direction: row;
    padding: max(33px, 3%);
}
.block_right {
    flex-direction: row-reverse;
    background-color: rgb(233, 233, 233);
    padding: max(33px, 3%);
}
/* mobile
.block_left, .block_right {
    flex-direction: column;
} 
.block_left div, .block_right div {
    flex-grow: 1;
} */



.block_left div, .block_right div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}



.navigator {
    border-bottom: 3px solid rgb(233, 233, 233);
    flex-grow: 1;
}
.navigator a {
    margin-right: max(22px, 2%);
}



.citation {
    background-color: lightgray;
    margin: 13px 0;
    padding: 17px;
    border-radius: 7px;
}
.citation br {
    user-select: text;
}



.block_left div .person_two_column {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    justify-content: space-between;
    column-gap: max(55px, 5%);
}

.block_left div .person_container, .block_left div .person_two_column div .person_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    gap: 33px;
    margin-bottom: max(33px, 3%);
}
.block_left div .person_container div img, .block_left div .person_two_column div .person_container div img {
    width: 100%;
}
.block_left div .person_container div h4, .block_left div .person_container div span, .block_left div .person_two_column div .person_container div h4, .block_left div .person_two_column div .person_container div span {
    margin-bottom: 7px;
    text-align: left;
}
.block_left div .person_container div div, .block_left div .person_two_column div .person_container div div {
    border-bottom: 3px solid rgb(233, 233, 233);
}



.block_left div .brand_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-33px, -3%);
}
.block_left div .brand_container div {
    margin: max(22px, 2%) max(33px, 3%);
}
.block_left div .brand_container div img {
    height: 66px;
}


.block_left div .brand_container_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-11px, -1%);
}
.block_left div .brand_container_title div {
    margin: max(11px, 1%);
}
.block_left div .brand_container_title div img {
    height: 33px;
}