body {
    margin: 0;
    font-family: "San Francisco", "system-ui";
}



h1, h2, h3, h4, h5, h6, p, span, a, li, table, div {
    text-transform: none;
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p, span, li {
    text-align: justify;
}
br {
    user-select: none;
}
code {
    color: #00a0e8;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(0, 160, 232, .23);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
}
img {
    user-select: none;
}
li {
    list-style-type: circle;
}



a {
    font-weight: bold;
    text-decoration: none;
}
a:any-link:hover, a:-webkit-any-link:hover {
    opacity: .67;
}
a .link_img {
    display: none;
    content: url(/ui2024/style/icon/link.png);
}
a:hover .link_img {
    display: inline;
    height: 20px;
}

span a, p a, li a{
    font-weight: normal;
    color: #00a0e8;
}



.banner_container, .block, .block_left, .block_right, .block_footer, .block_header {
    display: flex;
    flex-basis: 0;
    padding: 0 max(55px, 5%);
}
.banner_container {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.block_left {
    flex-direction: row;
}
.block_right {
    flex-direction: row-reverse;
    background-color: rgb(233, 233, 233);
}
.left_right {
    padding-top: max(33px, 3%);
    padding-bottom: max(33px, 3%);
    @media screen and (max-width: 1024px) {
        padding-bottom: max(55px, 5%);
    }
}
.block_left div, .block_right div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .block_left, .block_right {
        flex-direction: column;
    }
}



.navigator {
    border-bottom: 3px solid rgb(233, 233, 233);
    flex-grow: 1;
}
.navigator a, .navigator br {
    margin-right: max(22px, 2%);
    font-size: x-small;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}



.citation {
    background-color: lightgray;
    margin: 0;
    margin-top: 7px;
    padding: 17px;
    border-radius: 7px;
    font-size: xx-small;
}
.citation br {
    user-select: text;
}
@media screen and (max-width: 1024px) {
    .citation {
        font-size: xx-small;
    }
}



.block_left div .person_two_column {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    justify-content: space-between;
    column-gap: max(55px, 5%);
}
.block_left div .person_container, .block_left div .person_two_column div .person_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    gap: 33px;
    margin-bottom: max(33px, 3%);
}
.block_left div .person_container div img, .block_left div .person_two_column div .person_container div img {
    width: 100%;
}
.block_left div .person_container div h4, .block_left div .person_container div span, .block_left div .person_two_column div .person_container div h4, .block_left div .person_two_column div .person_container div span {
    margin-bottom: 7px;
    text-align: left;
}
.block_left div .person_container div div, .block_left div .person_two_column div .person_container div div {
    border-bottom: 3px solid rgb(233, 233, 233);
}
@media screen and (max-width: 1024px) {
    .block_left div .person_two_column {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .block_left div .person_container, .block_left div .person_two_column div .person_container {
        grid-template-columns: repeat(auto-fill, 20%);
    }
}



.block_left div .brand_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-33px, -3%);
}
.block_left div .brand_container div {
    margin: max(22px, 2%) max(33px, 3%);
}
.block_left div .brand_container div img {
    height: 66px;
}
.block_left div .brand_container div {
    display: flex;
    flex-direction: row;
}
.block_left div .brand_container div div {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 0 7px ;
}
.block_left div .brand_container div div div {
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 33px;
    font-size: xx-small;
    user-select: none;
}
@media screen and (max-width: 1024px) {
    .block_left div .brand_container div img {
        height: 55px;
    }
    .block_left div .brand_container div div div {
        font-size: normal;
    }
}



.block_left div .brand_container_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-11px, -1%);
}
.block_left div .brand_container_title div {
    margin: max(11px, 1%);
}
.block_left div .brand_container_title div img {
    height: 33px;
}



.widget_container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
/* .widget_container br {
    @media screen and (max-width: 1024px){
        display: none;
    }
} */
.widget_container a {
    height: 33px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    span {
        font-size: 17px;
        color: #0c318f;
    }
}
@media screen and (max-width: 1024px){
    .widget_container a span {
        font-size: 23px;
        color: #0c318f;
    }
}
.widget_container a img {
    height: 100%;
}
