.header {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: 1000;
}
header.white {
  background-color: white;
}
.block_header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a img {
  height: 23px;
}

.header_left a:any-link,
.header_left a:-webkit-any-link {
  opacity: 1;
}

.header_right {
  display: flex;
  justify-content: right;
  text-wrap: nowrap;
}
.header_right div {
  margin-left: 24px;
}

ul {
  width: 400px;
  height: 30px;
  line-height: 30px;

  /* background-color: rgb(255, 255, 255); */
} /* 对导航栏的整体样式进行设置 */
ul li {
  list-style: none;
  float: left;
  /* width: 150px; */
  color: #ffffff;
} /* 删除列表的样式并设置浮动 */
li a {
  color: white;
  padding: 20px;
  margin: 0px;
  text-decoration: none;
} /* 设置a标签的样式 */

.nav1 {
  height: 50px;
  position: relative; /* 设置相对定位 */
  display: inline-block; /* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
}
.nav1 a {
  color: white;
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  padding: 0;
}

.nav2 {
  display: none; /* 将某元素隐藏起来 */
  position: absolute; /* 绝对定位 */
  background-color: #f9f9f9;
  min-width: 81px; /* 最小宽度 */
  left: -22px;
  top: 47px;
}

.nav2 a {
  color: black;
  padding: 12px 16px;
  display: block; /* 将a标签设置为块级标签 */
}

.nav2 a:hover {
  background-color: #f9f9f9;
} /* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
  display: block;
} /* 鼠标悬浮在元素上时,变为块级标签 */
