.timeline > :before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35%;
    width: 3px;
    border-radius: 3px;
    background-color: rgb(33, 33, 33);
}
.timeline > .entries {
    position: relative;
}

.timeline > .entries > .entry {
    margin-right: 71.5%;
    text-align: right;
    /* .title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            background-color: rgb(33, 33, 33);
            border-radius: 100%;
            right: -27.4%;
        }
    } */
    h3 {
        margin: 3px 0;
    }
    span {
        text-align: right;
        margin-bottom: 7px;
        code {
            font-weight: normal;
            font-size: small;
            background-color: transparent;
            padding-right: 0;
            margin-right: 0;
        }
    }
    &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(8) {
        margin-right: 0%;
        margin-left: 42%;
        text-align: left;
        float: right;
        /* .title {
            &:before {
                left: -13.6%;
            }
        } */
        .content {
            text-align: left;
        }
    }
}
