li a {
    color: #00a0e8;
}



.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle_space_needle.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .5);
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo {
    flex-direction: row;
}
.banner_logo img {
    height: 55px;
    margin-right: 33px;
}
.banner_logo_u {
    flex-direction: column;
}
.banner_logo_u span{
    margin-bottom: 11px;
}
.banner_logo_u img {
    height: 55px;
}



.banner_title_en span {
    text-align: left;
}



.glance {
    width: 100%;
    display: flex;
    justify-content: center;
}
.glance div {
    width: 100%;
}
.glance img {
    height: 256px;
}
.glance div div .glance_divider {
    min-width: 7px;
    max-width: 7px;
    height: 100%;
    border-radius: 3px;
}
.glance .glance_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.glance .glance_left p {
    text-align: right;
}
.glance .glance_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.glance .glance_left div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.glance .glance_right div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.glance div p {
    padding: 7px 17px;
    margin: 0;
}
.glance div p a {
    user-select: none;
}
@media screen and (max-width: 1024px) {
    .notinmobile {
        display: none;
    }
    .glance b {
        font-size: 60%;
    }
}



.track_title {
    margin: 0;
}
.track_title h1 {
    margin: 0;
}
.track_fig {
    width: 55%;
    border-radius: 55%;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}



.rules {
    margin: 0;
    padding-inline-start: 17px;
}
@media screen and (max-width: 1024px) {
    .rules {
        padding-inline-start: 27px;
    }
}
.faq ul {
    margin-top: 3;
    margin-bottom: 11px;
}



.date_award {
    width: 67%;
}
.date_award tbody tr {
    & .first_icon {
        width: 20px;
        & img {
            width: 20px; 
            user-select: none;
        }
    }
    & .last_column {
        width: 40%;
    }
}
@media screen and (max-width: 1024px) {
    .date_award {
        width: 80%;
    }
}



.note {
    display: flex; 
    align-items: center;
}
.note a img {
    height: 33px;
    @media screen and (max-width: 1024px) {
        height: 44px;
        margin-right: 11px;
    }
}



.double_logos .seperator {
    background-color: rgb(233, 233, 233);
    width: 3px;
    margin-left: 22px;
    margin-right: 13px;
}
.double_logos div img {
    height: 55px;
}
@media screen and (max-width: 1024px) {
    .double_logos div img {
        height: 44px;
    }
}



.person_container div span span {
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
        width: 33px !important;
        margin-right: 11px;
    }
}



.brand_container div a:hover {
    opacity: 1;
}



.awardwinner {
    padding: 17px;
    & img {
        height: 23px;
    }
    & span {
        margin-top: 17px;
        margin-left: 11px;
        padding-left: 23px;
        border-left: solid 3px gray;
        margin-bottom: 7px;
        @media screen and (max-width: 1024px) {
            padding-left: 30px;
        }
    }
}
