<!-- mobile header -->
<div id="sidebar_container" class="fixed tablet:hidden w-screen top-0 z-40 flex items-center justify-center gap-x-6 h-16 bg-white px-6">
    <!-- mobile logo -->
    <div class="flex h-16 shrink-0 items-center">
        <a href="/" class="pl-1">
            <img class="h-6 w-auto" src="/assets/icon/OpenDriveLab.png">
        </a>
    </div>
    <!-- mobile button -->
    <button onclick="changeSidebar()" type="button" class="ml-auto text-o-blue">
        <!-- open -->
        <svg id="sidebar_open" class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#53c2f0" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <!-- close -->
        <svg id="sidebar_close" class="size-8 hidden" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#53c2f0" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
</div>



<!-- mobile sidebar -->
<div id="mobile_sidebar" class="relative tablet:hidden hidden z-30" aria-modal="true">
    <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-o-light-blue" aria-hidden="true"></div>
    <div class="fixed inset-0 flex">
        <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
        <!-- Static sidebar for desktop -->
        <div class="relative mr-16 flex w-screen max-w-xs flex-1" id="to_add_sidebar_content_mobile">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        </div>
    </div>
</div>



<!-- static sidebar -->
<div class="hidden tablet:fixed tablet:inset-y-0 tablet:z-50 tablet:flex tablet:w-72 tablet:flex-col"  id="to_add_sidebar_content_desktop">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
</div>



<!-- load sidebar content -->
<script>
    $.get('/ui2025/components/sidebar_content_mobile.html', function(result){
        $("#to_add_sidebar_content_mobile").append(result);
    })
    $.get('/ui2025/components/sidebar_content_desktop.html', function(result){
        $("#to_add_sidebar_content_desktop").append(result);
    })
</script>



<!-- sidebar open/close mobile -->
<script>
    var sidebar_state = false;
    function changeSidebar() {
        if (sidebar_state === false) {
            document.getElementById("sidebar_open").classList.add("hidden");
            document.getElementById("sidebar_close").classList.remove("hidden");
            document.getElementById("mobile_sidebar").classList.remove("hidden");
            sidebar_state = true;
        } else {
            document.getElementById("sidebar_open").classList.remove("hidden");
            document.getElementById("sidebar_close").classList.add("hidden");
            document.getElementById("mobile_sidebar").classList.add("hidden");
            sidebar_state = false;
        }
    }
</script>
