li a {
    color: #00a0e8;
}



.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle_cvpr.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .3);
    @media screen and (max-width: 1024px) {
        background-position: 27%;
    }
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo {
    flex-direction: row;
}
.banner_logo img {
    height: 55px;
    margin-right: 33px;
}
.banner_logo_u {
    flex-direction: column;
}
.banner_logo_u span{
    margin-bottom: 11px;
}
.banner_logo_u img {
    height: 55px;
}



.block_right {
    background-color: white !important;
}

.banner_title_en span {
    text-align: left;
}



.spad div {
    padding-left: 7%;
    padding-right: 7%;
    @media screen and (max-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
    }
}



.sevent {
    padding-top: max(66px, 2%) !important;
    padding-bottom: max(22px, 2%) !important;
    & .img_challenge {
        background-image: url(/assets/background/seattle_space_needle.jpg);
    }
    & .img_workshop {
        background-image: url(/assets/background/seattle.jpg);
    }
    & .img_tutorial {
        background-image: url(/assets/background/seattle_gen.jpg);
    }
    & .img_social {
        background-image: url(/assets/event/photo-1491438590914-bc09fcaaf77a.jpg);
    }
    & h4{
        width: fit-content;
        background-image: linear-gradient(to right, #0c318f, #53c2f0, #00a0e8);
        -webkit-background-clip: text;
        color: transparent;
        user-select: none;
    }
    & a {
        text-decoration: underline;
        color: #00a0e8;
    }
    & .img {
        padding: 160px;
        user-select: none;
        background-size: cover; 
        background-position: center;
        border-radius: 99px;
    }
    @media screen and (max-width: 1024px) {
        margin-bottom: 33px;
        /* & .desc {
            display: none;
        } */
        & .img {
            padding: 192px;
            margin-bottom: 33px;
        }
    }
}


.person_container {
    gap: 10% !important;
}



.srecruit {
    background-color: rgb(33, 33, 33);
    margin-bottom: -1px;
}



.spub {
    padding-top: max(22px, 2%) !important;
    padding-bottom: max(11px, 1%) !important;
    & h4{
        width: fit-content;
        background-image: linear-gradient(to right, #0c318f, #53c2f0, #00a0e8);
        -webkit-background-clip: text;
        color: transparent;
        user-select: none;
    }
    & a {
        text-decoration: underline;
    }
    & img {
        width: min(512px, 150%);
    }
    & .spub_icon{
        height: 24px;
        width: auto;
    }
    @media screen and (max-width: 1024px) {
        & img {width: 100%;}
    }
}



.joinus {
    align-items: center;
    @media screen and (max-width: 1024px) {
        align-items: flex-start;
    }
}
