li a {
    color: #00a0e8;
}



.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle_cvpr.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .3);
    @media screen and (max-width: 1024px) {
        background-position: 27%;
    }
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo {
    flex-direction: row;
}
.banner_logo img {
    height: 55px;
    margin-right: 33px;
}
.banner_logo_u {
    flex-direction: column;
}
.banner_logo_u span{
    margin-bottom: 11px;
}
.banner_logo_u img {
    height: 55px;
}



.block_right {
    background-color: white !important;
}

.banner_title_en span {
    text-align: left;
}



.sevent {
    padding-top: max(22px, 2%) !important;
    padding-bottom: max(22px, 2%) !important;
    & .img_challenge {
        background-image: url(/assets/background/seattle_space_needle.jpg);
    }
    & .img_workshop {
        background-image: url(/assets/background/seattle.jpg);
    }
    & .img_tutorial {
        background-image: url(/assets/background/seattle_gen.jpg);
    }
    & .img_social {
        background-image: url(/assets/event/photo-1491438590914-bc09fcaaf77a.jpg);
    }
    & h4{
        width: fit-content;
        background-image: linear-gradient(to right, #0c318f, #53c2f0, #00a0e8);
        -webkit-background-clip: text;
        color: transparent;
        user-select: none;
    }
    & a {
        text-decoration: underline;
    }
    & div {
        padding-left: 7%;
        padding-right: 7%;
    }
    & .img {
        padding: 128px;
        user-select: none;
        background-size: cover; 
        background-position: center;
        border-radius: 99px;
    }
    @media screen and (max-width: 1024px) {
        margin-bottom: 33px;
        & .desc {
            display: none;
        }
        & .img {
            padding: 192px;
            margin-bottom: 33px;
        }
        & div {
            padding-left: 0;
            padding-right: 0;
        }
    }
}




.rules {
    margin: 0;
    padding-inline-start: 17px;
}
@media screen and (max-width: 1024px) {
    .rules {
        padding-inline-start: 27px;
    }
}
.faq ul {
    margin-top: 3;
    margin-bottom: 11px;
}



.date_award {
    width: 67%;
}
.date_award tbody tr {
    & .first_icon {
        width: 20px;
        & img {
            width: 20px; 
            user-select: none;
        }
    }
    & .last_column {
        width: 40%;
    }
}
@media screen and (max-width: 1024px) {
    .date_award {
        width: 80%;
    }
}



.note {
    display: flex; 
    align-items: center;
}
.note a img {
    height: 33px;
    @media screen and (max-width: 1024px) {
        height: 44px;
        margin-right: 11px;
    }
}



.double_logos .seperator {
    background-color: rgb(233, 233, 233);
    width: 3px;
    margin-left: 22px;
    margin-right: 13px;
}
.double_logos div img {
    height: 55px;
}
@media screen and (max-width: 1024px) {
    .double_logos div img {
        height: 44px;
    }
}



.person_container div span span {
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
        width: 33px !important;
        margin-right: 11px;
    }
}



.brand_container div a:hover {
    opacity: 1;
}
