.banner {
    width: 100%;
    height: max(27vh, 300px);
    background-image: url(/assets/background/2024.10.png);
    background-size: cover; 
    background-position: top;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .2);
    @media screen and (max-width: 1024px) {
        height: 23vh;
    }
}
.banner_container div {
    display: flex;
}
.banner_title_en span {
    text-align: left;
}
.banner_subtitle_en span {
    text-align: left;
}
