body {
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: "San Francisco", "system-ui";
    text-transform: none;
    color: #212121;
}
.mobilevisible {
    display: none;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}



.white {
    color: white;
}
.Owhite {
    color: rgb(233, 233, 233);
}
.Oblue {
    color: #00a0e8;
}
.hoverOblue:hover {
    opacity: 1;
    color: #00a0e8;
}
.Odarkblue {
    color: #0c318f;
}
.gray {
    color: gray;
}
.text_shadow {
    text-shadow: rgb(33, 33, 33) 3px 3px 13px;
}



code {
    font-family: inherit;
    color: #00a0e8;
    background-color: rgba(0, 160, 232, .23);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
    font-size: inherit;
    text-decoration: none;
    font-weight: bold;
}
a, i, b {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}
span, p, td, th, li, select, button, input, textarea {
    font-size: 16px;
    font-weight: normal;
    @media screen and (max-width: 1024px) {
        font-size: 26px;
    }
}
h6 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h5, h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
}
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 34px;
    }
}
h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 40px;
    }
}
h1 {
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 1024px) {
        font-size: 72px;
    }
}



.header li, .header a {
    font-weight: bold;
    @media screen and (max-width: 1024px) {
        font-size: 32px;
    }
}
.footer_third_row span, .footer_third_row span a {
    font-size: 12px;
    @media screen and (max-width: 1024px) {
        font-size: 16px;
    }
}



.citation {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
