.banner {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
}



.left_right {
    padding-top: max(55px, 5%);
    padding-bottom: max(55px, 5%);
    @media screen and (max-width: 1024px) {
        padding-top: max(77px, 7%);
        padding-bottom: max(99px, 9%);
    }
}



div .event_container a {
    background-color: white !important;
}
@media screen and (min-width: 1024px) {
    .left_right div .event_container {
        grid-template-columns: repeat(auto-fill, 27vw);
        margin: 0;
    }
    .left_right div .event_container a img {
        height: 15vw;
    }
}



.publication_container div {
    margin: 11px 0;
    &:last-child {
        margin-bottom: 0px;
    }
}


.block_title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        flex-direction: row;
    }
    & div {
        justify-content: center;
        &:first-child {
            flex-grow: 1;
            justify-content: flex-start;
        }
        & img {
            height: 84px;
            @media screen and (min-width: 1024px) {
                width: fit-content;
            }
        }
    }
}



.research_container {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 47%);
    gap: 33px;
    justify-content: space-between;
    & a {
        height: 256px;
        background-size: cover; 
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgb(33, 33, 33, .3);
        & h2 {
            margin: 33px;
        }
    }
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}



.feedback_form {
    background-color: rgb(33, 33, 33);
    margin-bottom: -1px;
    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .form_double {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 48%);
        }
        & .form_button {
            flex-direction: row;
            justify-content: flex-end;
        }
        & span {
            width: 100%;
            text-align: left;
            margin-bottom: 11px;
        }
        & input, textarea {
            background-color: transparent;
            padding: 11px 0;
            width: 100%;
            outline: none;
            border: 1px solid rgb(33, 33, 33);
            border-bottom: 1px solid gray;
            margin-bottom: 33px;
        }
        & textarea {
            resize: none;
            overflow: hidden;
            height: 128px;
        }
        & button {
            background-color: transparent;
            border: 0;
            text-align: left;
        }
    }
    & .navigator {
        border-bottom: 1px solid gray;
    }
}



.class_img {
    width: 384px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}



li {
    list-style-type: disc;
}



.tag {
    display: inline-block;
    text-shadow: none;
    background-color: rgb(233, 233, 233);
    border-radius: 13px;
    padding: 3px 13px;
    margin-right: 7px;
}
