@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        @apply text-o-black;
    }
    /* html {
        scroll-snap-type: y mandatory;
    } */
    a, summary {
        @apply hover:cursor-pointer;
    }    
    h1 {
        @apply text-4xl laptop:text-7xl font-bold;
    }
    h2 {
        @apply text-3xl laptop:text-5xl font-bold;
    }
    h3 {
        @apply text-2xl laptop:text-3xl font-bold;
    }
    h4 {
        @apply text-lg laptop:text-lg font-bold;
    }
    h5 {
        @apply text-lg laptop:text-lg;
    }
    summary {
        list-style: none;
    }
    summary::-webkit-details-marker {
        display: none;
    }
    summary:after {
        content: "+";
        @apply text-o-blue;
    }
    details[open] summary:after {
        content: "-";
    }
    code {
        @apply bg-o-light-blue bg-opacity-30 text-o-blue font-bold pl-1 pr-1 ml-1 mr-1 select-all;
    }
}



@layer components {
    .sidebar-button {
        @apply flex gap-x-3 rounded-xl p-3 font-bold hover:bg-o-hover hover:text-o-blue select-none;
    }
    .navigator-button {
        @apply flex gap-x-3 rounded-xl p-3 font-bold hover:bg-o-hover select-none;
    }
    .navigator-button-text {
        @apply group-hover:text-o-blue laptop:border-l-2 laptop:border-l-o-black laptop:group-hover:border-l-o-blue laptop:pl-3 laptop:ml-1;
    }
}



.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}



.divider {
    @apply mt-20 border-b-4 border-o-white;
}



.citation {
    @apply text-sm;
    background-color: #f6f8fa;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    color: #0a3069;
    & span {
        display: contents;
    }
    & .citation_red {
        color: #cf222e;
    }
    & .citation_blue {
        color: #6639ba;
    }
}
.citation br {
    user-select: text;
}
