<footer class="footer">
  <br>
  <div class="footer_o">
    <br>
    <div class="bg">
      <div class="o_l"> 
        <a href="/"> 
          <img src="/style/img/team_logo_long_white.png" class="footer_logo_white"><img src="/style/img/team_logo_long.png" class="footer_logo_color">
         </a> 
         <!-- <a href="/">OpenDriveLab</a> -->
      </div>
      <div class="o_r"> 

        <a href="https://github.com/OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/style/img/icon/github-white.png" class="footer_logo_white"> 
          <img src="/style/img/icon/github-colored.png" class="footer_logo_color"> 
        </a>

        <a href="https://twitter.com/OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/style/img/icon/twitter-white.png" class="footer_logo_white"> 
          <img src="/style/img/icon/twitter-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://www.zhihu.com/people/PerceptionX" style="user-select: none" target="_blank"> 
          <img src="/style/img/icon/zhihu-white.png" class="footer_logo_white"> 
          <img src="/style/img/icon/zhihu-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://space.bilibili.com/503310953" style="user-select: none" target="_blank"> 
          <img src="/style/img/icon/bilibili-white.png" class="footer_logo_white"> 
          <img src="/style/img/icon/bilibili-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="https://www.youtube.com/@OpenDriveLab" style="user-select: none" target="_blank"> 
          <img src="/style/img/icon/youtube-white.png" class="footer_logo_white"> 
          <img src="/style/img/icon/youtube-colored.png" class="footer_logo_color"> 
        </a> 

        <a href="mailto:contact@opendrivelab.com" style="user-select: none" > 
          <img src="/style/img/icon/email.png" class="footer_logo_white"> 
          <img src="/style/img/icon/email-colored.png" class="footer_logo_color"> 
        </a> 

      </div>
    </div>
    <br>
    <div class="bg">
      <div class="o_l"> 
        <!-- <a href="#"> 
          <img src="style/img/logo.svg" alt="">
         </a>  -->
         <!-- <a href="/">OpenDriveLab</a> -->
      </div>
      <div class="o_qr"  style="user-select: none"> 
        <img src="/style/img/qrcode_for_gh_50ae66bdbfce_430.jpg" > 
      </div>
    </div>
  </div>
  <!-- <div class="footer_nav color_bai">
    <div class="bg"> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin linkedin linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
    <!-- </div>
  </div> -->
  <!-- <div class="footer_t">
    <h6>OpenDriveLab</h6>
    <nav>
      <ul class="nospace inline pushright uppercase">
        <li><a  href="https://opendrivelab.com/e2ead/cvpr23.html"><i class="tb icon_home"></i></a></li> 
        <li><a href="https://opendrivelab.com"><i class="tb icon_home"></i></a></li>
      </ul>
    </nav>
  </div> -->
  <div class="copyright">
    <p>Copyright © 2023 - All Rights Reserved <br style="display: inline;"> OpenDriveLab at Shanghai AI Lab
                <!-- <a href="https://opendrivelab.com"><i class="tb icon_home"></i>OpenDriveLab</a>  -->
              </p>
  </div>
  <div style="display: none;">
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6c2a3f9277a146e4aaf1fd8a9677b8db"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </div>
</footer>
