<footer class="footer">
  <br>
  <div class="footer_o">
    <div class="bg">
      <div class="o_l"> 
        <!-- <a href="#"> 
          <img src="style/img/logo.svg" alt="">
         </a>  -->
         <a href="https://opendrivelab.com/" style="font-size:x-large; font-weight: 800; color: grey">OpenDriveLab</a>
      </div>
      <div class="o_r"> 
        <a href="https://github.com/OpenDriveLab"> <img src="style/img/icon/github.svg" > </a>
         <a href="https://twitter.com/OpenDriveLab"> <img src="style/img/icon/twitter.svg"> </a> 
         <a href="https://www.zhihu.com/people/PerceptionX"> <img src="style/img/icon/zhihu.svg" > </a> 
         <a href="mailto:contact@opendrivelab.com"> <img src="style/img/icon/email.png" > </a> 
      </div>
    </div>
  </div>
  <br>
  <!-- <div class="footer_nav color_bai">
    <div class="bg"> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin linkedin linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
      <!-- <dl>
        <dt> <a href="#">linkedin</a> </dt>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
        <dd> <a href="#">linkedin</a> </dd>
      </dl> -->
    <!-- </div>
  </div> -->
  <!-- <div class="footer_t">
    <h6>OpenDriveLab</h6>
    <nav>
      <ul class="nospace inline pushright uppercase">
        <li><a  href="https://opendrivelab.com/e2ead/cvpr23.html"><i class="tb icon_home"></i></a></li> 
        <li><a href="https://opendrivelab.com"><i class="tb icon_home"></i></a></li>
      </ul>
    </nav>
  </div> -->
  <div class="copyright">
    <p>Copyright © 2023 - All Rights Reserved - OpenDriveLab at Shanghai AI Lab
                <!-- <a href="https://opendrivelab.com"><i class="tb icon_home"></i>OpenDriveLab</a>  -->
              </p>
  </div>
</footer>
