
<div class="header"  > 
  <div class="bg">
  <a class="head_fanhui" href="http://opendrivelab.com/"></a>
    <div class="rnav m"></div>
    <div class="logo">
      <a href="https://opendrivelab.com/" style="font-size:large; font-weight: 800; color: rgb(127, 127, 127)">OpenDriveLab</a>
      <!-- <a href="#"> <img src="style/img/logo.svg" class="bai"> <img src="style/img/logo_.svg" class="hei"></a>  -->
    </div>
    <div class="r_ul2">
      <ul class="r_ul2i">
        <li class="#"><a href="https://opendrivelab.com/">Home</a></li>
        <!-- <li class="this"><a href="index.html">Home</a></li> -->
        <li><a href="team.html">Team</a></li>
        <li><a href="event/index.html">Events</a>
          <ul class="submenu">
            <li> <a href="AD23Challenge.html">AD Challenge @ CVPR 2023</a></li>
            <li> <a href="e2ead/cvpr23.html">E2EAD Workshop @ CVPR 2023</a></li>
            <li> <a href="sr4ad/iclr23.html">SR4AD Workshop @ ICLR 2023</a></li>
          </ul>
        </li>
        <li><a href="publication">Publications</a></li>
      </ul>
    </div>
    
    <!-- 
      <div class="qh_langw">
        <div class="qh_lang"><a href="https://opendrivelab.com/AD23Challenge.html#FAQ">FAQ</a></div>
        <div class="qh_lang"><a href="https://opendrivelab.com/AD23Challenge_cn.html" class="this">中<font class="m">文
            </font></a><a href="http://opendrivelab.com/">EN</a></div>
      </div> --> 
    </div>
  </div>
  <div class="rnav_br"></div>
  <div class="go_top" data-hd2="body"></div>
  