
<div class="header"  > 
  <div class="bg">
  <!-- <a class="head_fanhui" href="/"></a> -->
    <div class="rnav m"></div>
    <div class="logo">
      <!-- <a href="/">OpenDriveLab</a> -->
      <a href="/"> <img src="/style/img/team_logo_long_white.png" class="bai"> <img src="/style/img/team_logo_long.png" class="hei"></a> 
    </div>
    <div class="r_ul2">
      <ul class="r_ul2i">
        <li class="#"><a href="/" style="user-select: none">Home</a></li>
      </ul>
    </div>
    
    <!-- 
      <div class="qh_langw">
        <div class="qh_lang"><a href="/AD23Challenge.html#FAQ">FAQ</a></div>
        <div class="qh_lang"><a href="/AD23Challenge_cn.html" class="this">中<font class="m">文
            </font></a><a href="/">EN</a></div>
      </div> --> 
    </div>
  </div>
  <div class="rnav_br"></div>
  <div class="go_top" data-hd2="body"></div>
  