
<div class="header"  > 
  <div class="bg">
  <!-- <a class="head_fanhui" href="/"></a> -->
    <div class="rnav m"></div>
    <div class="logo">
      <!-- <a href="/">OpenDriveLab</a> -->
      <a href="/"> <img src="/style/img/team_logo_long_white.png" class="bai"> <img src="/style/img/team_logo_long.png" class="hei"></a> 
    </div>
    <div class="r_ul2">
      <ul class="r_ul2i">
        <li class="#"><a href="/" style="user-select: none">Home</a></li>
        <!-- <li class="this"><a href="index.html">Home</a></li> -->
        <li><a href="/team" style="user-select: none">Team</a></li>
        <li><a href="javaScript:" style="user-select: none">Research</a>
          <ul class="submenu">
            <li> <a href="/e2ead" style="user-select: none">End-to-end Autonomous Driving</a></li>
            <li> <a href="https://github.com/OpenDriveLab/BEVPerception-Survey-Recipe" style="user-select: none" target="_blank">Bird's-eye-view Perception</a></li>
            <!-- <li> <a href="/event" style="user-select: none">More ...</a></li> -->
          </ul>
        </li>
        <li><a href="javaScript:" style="user-select: none">Event</a>
          <ul class="submenu">
            <li> <a href="/e2ead/cvpr23_CN.html" style="user-select: none" target="_blank">自动驾驶论坛 @ 北京 2023</a></li>
            <li> <a href="/AD23Challenge.html" style="user-select: none" target="_blank">AD Challenge @ CVPR 2023</a></li>
            <li> <a href="/e2ead/cvpr23.html" style="user-select: none" target="_blank">E2EAD Workshop @ CVPR 2023</a></li>
            <li> <a href="/sr4ad/iclr23.html" style="user-select: none" target="_blank">SR4AD Workshop @ ICLR 2023</a></li>
            <!-- <li> <a href="/event" style="user-select: none">More ...</a></li> -->
          </ul>
        </li>
        <li><a href="/publications" style="user-select: none">Publication</a></li>
        <!-- <li><a href="/recruit" style="user-select: none">Recruit</a></li> -->
      </ul>
    </div>
    
    <!-- 
      <div class="qh_langw">
        <div class="qh_lang"><a href="https://opendrivelab.com/AD23Challenge.html#FAQ">FAQ</a></div>
        <div class="qh_lang"><a href="https://opendrivelab.com/AD23Challenge_cn.html" class="this">中<font class="m">文
            </font></a><a href="http://opendrivelab.com/">EN</a></div>
      </div> --> 
    </div>
  </div>
  <div class="rnav_br"></div>
  <div class="go_top" data-hd2="body"></div>
  