<div class="k1 no_mailing">
    <div class="bg">
        <div class="iform">
            <h3 class="title_">Mailing list</h3>
            <h5 class="btitle">Subscribe to our newsletter & stay updated!</h5>
            <div id="mailing_list" class="mailing_list">
                <a target="_blank" class="mailing_list_button" href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdUL2T5QY0-jLY8gr6ViGxkaFaUAfHsfGWpqMJaEOTSrvFJCQ/formResponse">Go</a>
            </div>
        </div>
    </div>
</div>