h2 {
    font-size: 167%;
}
i {
    color: gray;
    display: inline-block;
    margin: 3px 0;
}



.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .5);
    @media screen and (max-width: 1024px) {
        background-position: 30%;
    }
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo, .banner_logo_u {
    flex-direction: row;
}
.banner_logo img {
    height: 55px;
    margin-right: 33px;
}
.banner_logo_u img {
    height: 55px;
}



.banner_title {
    flex-direction: row;
}
.banner_title span {
    font-size: 66px;
    font-weight: bold;
    color: rgb(233, 233, 233);
    text-align: left;
}



.banner_title_sub span, .banner_title_sub span a {
    font-size: 23px;
    color: rgb(233, 233, 233);
    font-weight: bold;
}



.banner_content span {
    font-size: 23px;
    color: rgb(233, 233, 233);
    font-weight: bold;
}



.note {
    display: flex; 
    align-items: center;
}
.note a img {
    height: 33px;
    @media screen and (max-width: 1024px) {
        height: 44px;
        margin-right: 11px;
    }
}




.track_title {
    margin: 0;
}
.track_title h1 {
    font-size: 333%;
    margin: 0;
}
.navigator a {
    font-size: large;
}
