<link href="/ui2024/style/css/footer.css" rel="stylesheet" type="text/css" media="all">



<div class="footer">
    <div class="block_footer">



        <br>



        <div class="footer_first_row">
            <a href="https://opendrivelab.com" target="_blank">
                <img src="/ui2024/style/icon/OpenDriveLab_white.png" class="footer_logo_white"/>
                <img src="/ui2024/style/icon/OpenDriveLab.png" class="footer_logo_color"/>
            </a>
            <div class="footer_align_right">
                <!-- TODO mailing list -->
                <!-- <img src="/ui2024/style/icon/OpenDriveLab_white.png" style="width: 200px;"/> -->
            </div>
        </div>



        <br><br>



        <div class="footer_second_row">
            <div class="logos">
                <a href="https://github.com/OpenDriveLab" target="_blank"> 
                    <img src="/ui2024/style/icon/github_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/github.png" class="footer_logo_color"/> 
                </a>
                <a href="https://twitter.com/OpenDriveLab" target="_blank"> 
                    <img src="/ui2024/style/icon/x_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/x.png" class="footer_logo_color"/> 
                </a> 
                <a href="/style/img/qrcode_for_gh_ab31cc47181d_430.jpg" target="_blank"> 
                    <img src="/ui2024/style/icon/wechat_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/wechat.png" class="footer_logo_color"/> 
                </a>
                <a href="https://www.zhihu.com/people/PerceptionX" target="_blank"> 
                    <img src="/ui2024/style/icon/zhihu_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/zhihu.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://medium.com/@opendrivelab" target="_blank"> 
                    <img src="/ui2024/style/icon/medium_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/medium.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://space.bilibili.com/503310953" target="_blank"> 
                    <img src="/ui2024/style/icon/bilibili_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/bilibili.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://www.youtube.com/@OpenDriveLab" target="_blank"> 
                    <img src="/ui2024/style/icon/youtube_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/youtube.png" class="footer_logo_color"/> 
                </a>
                <a href="https://join.slack.com/t/opendrivelab/shared_invite/zt-1rcp42b35-Wc5I0MhUrahlM5qDeJrVqQ" target="_blank"> 
                    <img src="/ui2024/style/icon/slack_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/slack.png" class="footer_logo_color"/> 
                </a> 
                <a href="mailto:contact@opendrivelab.com"> 
                    <img src="/ui2024/style/icon/email_white.png" class="footer_logo_white"/> 
                    <img src="/ui2024/style/icon/email.png" class="footer_logo_color"/> 
                </a>
            </div>
            <div class="footer_align_right">
                <iframe src="https://github.com/sponsors/OpenDriveLab/button" title="Sponsor OpenDriveLab" height="33px" width="128px" style="border: 0; border-radius: 6px;"></iframe>
            </div>
        </div>



        <br><br>
        <div class="footer_navigator"></div>
        <br>



        <div class="footer_third_row">
            <span>© 2021 - 2024 All Rights Reserved</span>
            <br><br>
            <span style="user-select: all;">上海市徐汇区龙文路129号国际传媒港L1栋10层C区</span>
            <br>
            <span style="user-select: all;">Area C, Floor 10, Building L1, 129 Longwen Rd, Shanghai</span>
            <br>
            <span><a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2021009351号</a></span>
        </div>



        <br><br>
        


    </div>
</div>
