<link href="/ui2024/css/footer.css" rel="stylesheet" type="text/css" media="all">



<div class="footer">
    <div class="block_footer">



        <br><br>



        <div class="footer_first_row">
            <div class="footer_align_left">
                <a href="/">
                    <img src="/assets/icon/OpenDriveLab_white.png" class="footer_logo_white"/>
                    <img src="/assets/icon/OpenDriveLab.png" class="footer_logo_color"/>
                </a>
                <div></div>
                <a href="https://www.shlab.org.cn/" target="_blank">
                    <img src="/assets/brand/shanghai_ai_lab_white_.png" class="footer_logo_white"/>
                    <img src="/assets/brand/shanghai_ai_lab_.png" class="footer_logo_color"/>
                </a>
            </div>
            <div class="footer_align_right"></div>
        </div>


        
        <div class="footer_second_row">
            <div class="logos">
                <a href="https://github.com/OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/github_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/github.png" class="footer_logo_color"/> 
                </a>
                <a href="https://twitter.com/OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/x_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/x.png" class="footer_logo_color"/> 
                </a> 
                <a href="/assets/qrcode_wechat.jpg" target="_blank"> 
                    <img src="/assets/icon/wechat_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/wechat.png" class="footer_logo_color"/> 
                </a>
                <a href="https://www.zhihu.com/people/PerceptionX" target="_blank"> 
                    <img src="/assets/icon/zhihu_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/zhihu.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://medium.com/@opendrivelab" target="_blank"> 
                    <img src="/assets/icon/medium_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/medium.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://space.bilibili.com/503310953" target="_blank"> 
                    <img src="/assets/icon/bilibili_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/bilibili.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://www.youtube.com/@OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/youtube_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/youtube.png" class="footer_logo_color"/> 
                </a>
                <a href="https://join.slack.com/t/opendrivelab/shared_invite/zt-1rcp42b35-Wc5I0MhUrahlM5qDeJrVqQ" target="_blank"> 
                    <img src="/assets/icon/slack_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/slack.png" class="footer_logo_color"/> 
                </a> 
                <a href="mailto:contact@opendrivelab.com"> 
                    <img src="/assets/icon/email_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/email.png" class="footer_logo_color"/> 
                </a>
            </div>
            <div class="footer_align_right">
                <iframe src="https://github.com/sponsors/OpenDriveLab/button" title="Sponsor OpenDriveLab" height="33px" width="128px" style="border: 0; border-radius: 6px;"></iframe>
            </div>
        </div>



        <br><br>
        <div class="footer_navigator"></div>
        <br><br>



        <!-- <div class="footer_subscribe">
            <div class="footer_align_left"></div>
            <div class="footer_align_right">
                <span class="Owhite">Subscribe to our newsletter & stay updated!</span>
                <form>
                    <input class="Owhite" id="subscribe_input" placeholder="@email">
                    <button id="subscribe_button" class="gray" disabled>Submit</button>
                </form>
            </div>
        </div>



        <br> -->
        


        <div class="footer_third_row">
            <span class="gray">OpenDriveLab at Shanghai AI Lab</span>
            <br>
            <span class="gray">© 2021 - 2024 All Rights Reserved</span>
            <br><br>
            <!-- <span style="user-select: all;">上海市徐汇区龙文路129号国际传媒港L1栋10层C区</span>
            <br>
            <span style="user-select: all;">Area C, Floor 10, Building L1, 129 Longwen Rd, Shanghai</span>
            <br> -->
            <span class="gray"><a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2021009351号</a></span>
        </div>



        <br><br>
        


    </div>
</div>



<!-- <script>
    subscribe_input.addEventListener("input", () => {
        let val = subscribe_input.value;
        let empty = val == null || val == "";
        let valid = val.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
        if (!empty && valid) {
            subscribe_button.disabled = false;
            subscribe_button.classList.add("Owhite");
            subscribe_button.classList.remove("gray");
        } else {
            subscribe_button.disabled = true;
            subscribe_button.classList.add("gray");
            subscribe_button.classList.remove("Owhite");
        }
    })
</script> -->
