<link href="/ui2024/css/header.css" rel="stylesheet" type="text/css" media="all" as="style" importance="high"/>



<div class="header" id="header" style="display: none;">
    <div class="block_header">

        <div class="header_left">
            <a href="/">
                <img id="header_logo" src="/assets/icon/OpenDriveLab_white.png"/>
            </a>
        </div>

        <div class="header_right" id="header_right">
            <ul>

                <!-- <li><a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdUL2T5QY0-jLY8gr6ViGxkaFaUAfHsfGWpqMJaEOTSrvFJCQ/viewform" target="_blank">Subscribe</a></li> -->
                <li><a href="#subscribe">Subscribe</a></li>

                <li><a href="/team/">Team</a></li>

                <li onclick="drop()">
                    <a>Research</a>
                    <ul class="dropdown">
                        <li><a href="https://github.com/OpenDriveLab/DriveAGI" target="_blank" onclick="stop_propagation()">DriveAGI</a></li>
                        <li><a onclick="stop_propagation()">Embodied AI</a></li>
                        <li><a href="https://github.com/OpenDriveLab/End-to-end-Autonomous-Driving" target="_blank" onclick="stop_propagation()">End-to-End Autonomous Driving</a></li>
                        <li><a href="https://github.com/OpenDriveLab/BEVPerception-Survey-Recipe" target="_blank" onclick="stop_propagation()">Bird's-Eye-View Perception</a></li>
                    </ul>
                </li>

                <li onclick="drop()">
                    <a>Event</a>
                    <ul class="dropdown">
                        <li><a href="/challenge2024/" onclick="stop_propagation()">Challenge 2024</a></li>
                        <li><a href="/cvpr2024/" onclick="stop_propagation()">Events @ CVPR 2024</a></li>
                        <li><a href="https://starleague.ai/event2024/" onclick="stop_propagation()" target="_blank">端到端具身智能体系列活动</a></li>
                        <li><a href="/events/" onclick="stop_propagation()">More...</a></li>
                    </ul>
                </li>

                <li><a href="/publications/">Publication</a></li>

                <li><a href="https://github.com/sponsors/OpenDriveLab" target="_blank">❤️ Sponsor</a></li>

            </ul>
        </div>

        <div class="nav_button" onclick="show()">
            <img id="nav_button" src="/assets/icon/nav_white.png" />
        </div>

    </div>
</div>



<script>
    const as_transparent = () => {
        header.classList.remove("nav_scoll");
        header_logo.src = "/assets/icon/OpenDriveLab_white.png";
        nav_button.src = "/assets/icon/nav_white.png";
    };
    const as_white = () => {
        header.classList.add("nav_scoll");
        header_logo.src = "/assets/icon/OpenDriveLab.png";
        nav_button.src = "/assets/icon/nav.png";
    };
</script>



<script>
    window.addEventListener("scroll", function () {
        if (window.scrollY > 0) {
            as_white();
        } else {
            if (header_right.style.display != "flex") {
                as_transparent();
            }
        }
    });
</script>



<script>
    if (window.innerWidth > 1024) {
        eles = document.getElementsByClassName("header");
        for (let i = 0; i < eles.length; i++) {
            eles[i].addEventListener("mouseover", () => {
                as_white();
            })
            eles[i].addEventListener("mouseout", () => {
                if (!window.scrollY > 0) {
                    as_transparent();
                }
            })
        }
    }
</script>



<script>
    const show = () => {
        if (header_right.style.display === "none" || !header_right.style.display) {
            header_right.style.display = "flex";
            as_white();
        } else {
            header_right.style.display = "none";
            if (window.scrollY === 0) {
                as_transparent();
            }
            let elements = document.getElementsByClassName("dropdown");
            for (let i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
        }
    };
</script>



<script>
    const drop = () => {
        if (window.innerWidth <= 1024) {
            eles = document.getElementsByClassName("dropdown");
            for (let i = 0; i < eles.length; i++) {
                if (eles[i] != event.currentTarget.children[1]) {
                    eles[i].style.display = "none";
                }
            }
            if (event.currentTarget.children[1].style.display === "none" || !event.currentTarget.children[1].style.display) {
                event.currentTarget.children[1].style.display = "flex";
            } else {
                event.currentTarget.children[1].style.display = "none";
            }
        }
    };
    const stop_propagation = () => {
        if (window.innerWidth <= 1024) {
            event.stopPropagation();
        }
    };
</script>



<script>
    function showheader() {
        header.style.display = "block";
        window.removeEventListener("scroll", showheader);
    }
    window.addEventListener("load", showheader);
    window.addEventListener("scroll", showheader);
</script>
