<script src="https://kit.fontawesome.com/8990c176d0.js" crossorigin="anonymous"></script>


<div class="footer">
    <div class="block_footer">



        <br><br>



        <div class="footer_first_row">
            <div class="footer_align_left">
                <a href="/">
                    <img src="/assets/icon/OpenDriveLab_white.png" class="footer_logo_white"/>
                    <img src="/assets/icon/OpenDriveLab.png" class="footer_logo_color"/>
                </a>
            </div>
            <div class="footer_align_right"></div>
        </div>


        
        <!-- <div class="footer_second_row">
            <div class="logos">
                <a href="https://scholar.google.com/citations?user=p2azZNcAAAAJ" target="_blank"> 
                    <img src="/assets/icon/scholar_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/scholar.png" class="footer_logo_color"/> 
                </a>
                <a href="https://github.com/OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/github_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/github.png" class="footer_logo_color"/> 
                </a>
                <a href="https://twitter.com/OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/x_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/x.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://www.linkedin.com/company/opendrivelab/" target="_blank"> 
                    <img src="/assets/icon/linkedin_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/linkedin.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://join.slack.com/t/opendrivelab/shared_invite/zt-2ft3dfjoz-6XErfBts4s_8Fen88wO4Jg" target="_blank"> 
                    <img src="/assets/icon/slack_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/slack.png" class="footer_logo_color"/> 
                </a> 
                <a href="/assets/qrcode_wechat.jpg" target="_blank"> 
                    <img src="/assets/icon/wechat_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/wechat.png" class="footer_logo_color"/> 
                </a>
                <a href="/assets/qrcode_wechat_group.jpg" target="_blank"> 
                    <img src="/assets/icon/wechat_group_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/wechat_group.png" class="footer_logo_color"/> 
                </a>
                <a href="https://www.zhihu.com/people/PerceptionX" target="_blank"> 
                    <img src="/assets/icon/zhihu_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/zhihu.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://www.xiaohongshu.com/user/profile/67467f16000000001c0182ba" target="_blank"> 
                    <img src="/assets/icon/xiaohongshu_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/xiaohongshu.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://space.bilibili.com/503310953" target="_blank"> 
                    <img src="/assets/icon/bilibili_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/bilibili.png" class="footer_logo_color"/> 
                </a> 
                <a href="https://www.youtube.com/@OpenDriveLab" target="_blank"> 
                    <img src="/assets/icon/youtube_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/youtube.png" class="footer_logo_color"/> 
                </a>

                <a href="mailto:contact@opendrivelab.com"> 
                    <img src="/assets/icon/email_white.png" class="footer_logo_white"/> 
                    <img src="/assets/icon/email.png" class="footer_logo_color"/> 
                </a>
            </div>
            <div class="footer_align_right" style="display: flex; align-items: center;">
                <iframe src="https://github.com/sponsors/OpenDriveLab/button" title="Sponsor OpenDriveLab" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
            </div>
        </div> -->



        <br><br>



        <!-- <div class="footer_subscribe" id="subscribe">
            <div class="footer_align_left"></div>
            <div class="footer_align_right">
                <span class="Owhite"><i class="fas fa-envelope"></i> Subscribe to our newsletter & stay updated!</span>
                <form method="post" onsubmit="formSubscribe()" enctype='application/json' id="subscribe_form">
                    <input class="Owhite" id="subscribe_input" placeholder="@email" maxlength="128">
                    <button id="subscribe_button" class="gray" disabled onclick="formSubscribeSubmit()">Submit</button>
                </form>
            </div>
        </div> -->



        <!-- <br> -->
        


        <div class="footer_third_row">
            <!-- <span class="gray">OpenDriveLab</span>
            <br> -->
            <span class="gray">OpenDriveLab © 2021 - 2025 All Rights Reserved</span>
            <br><br>
            <!-- <span style="user-select: all;">上海市徐汇区龙文路129号国际传媒港L1栋10层C区</span>
            <br>
            <span style="user-select: all;">Area C, Floor 10, Building L1, 129 Longwen Rd, Shanghai</span>
            <br> -->
        </div>



        <br><br>
        


    </div>
</div>



<script>
    subscribe_input.addEventListener("input", () => {
        let val = subscribe_input.value;
        let empty = val == null || val == "";
        let valid = val.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
        if (!empty && valid) {
            subscribe_button.disabled = false;
            subscribe_button.classList.add("Owhite");
            subscribe_button.classList.remove("gray");
        } else {
            subscribe_button.disabled = true;
            subscribe_button.classList.add("gray");
            subscribe_button.classList.remove("Owhite");
        }
    })
</script>



<script>
    function formSubscribe() {
        event.preventDefault()
    }

    function formSubscribeSubmit() {
        var formData = new FormData(subscribe_form);
        formData.append("email", subscribe_input.value);
        formData.append("message", "");
        formData.append("organization", "");
        formData.append("first_name", "");
        formData.append("last_name", "");

        var jsonObject = {};
        formData.forEach(function(value, key){
            jsonObject[key] = value;
        });
        var jsonString = JSON.stringify(jsonObject);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://drivelab.openxlab.org.cn/gw/drivelab-register-api-service/signup/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                alert('Subscribed.');
                subscribe_input.value = "";
                subscribe_button.disabled = true;
                subscribe_button.classList.add("gray");
                subscribe_button.classList.remove("Owhite");
            }
        };
        xhr.send(jsonString);
    }
</script>
