
/* 表单 */
/* ::-webkit-input-placeholder {color: #b2b2b2;} 
::-moz-placeholder {color: #b2b2b2;} 
::-ms-input-placeholder {color: #b2b2b2;} */
.k1 {
    background-color: rgb(33, 33, 33);
    border-bottom: 0px solid rgb(33, 33, 33);
}
.k1 .bg {position: relative;background: url(/style/img/mail/ibr.png) no-repeat center bottom;padding-top: 35px;background-color: rgb(33, 33, 33);}
.k1 .bg::before {z-index: 2;pointer-events: none;content: "";display: block;width: 100%;height: 100%;background: url(/style/img/mail/mail.png) no-repeat bottom;position: absolute;bottom: 0;}
.iform {box-shadow: 0px 0px 0px 1px rgba(224, 224, 224, 0.24);padding: 50px 0 200px 0;background: #fff;margin: 0 27px;border-top: 1px solid rgb(0, 160, 232);border-radius: 28px;position: relative;z-index: 1;}
.iform::after {width: 30%;height: 1px;border-top: 1px solid rgb(0, 160, 232);right: 20%;content: "";position: absolute;top: -1px;}
.iform::before {width: 20%;height: 1px;border-top: 1px solid rgb(0, 160, 232);right: 0;content: "";position: absolute;top: -1px;height: 40px;border-radius: 0 28px 0 0;}
.mailing_list {text-align: center;width: 100%;display: flex;align-items: center;justify-content: center;padding-top: 40px;}
.mailing_list_input {color: rgb(0, 160, 232);background: #fff;width: 380px;height: 48px;padding: 0;margin-left: 40px;font-size: 20px;font-weight: 300;border-radius: 33px;border: 1px solid rgb(223, 223, 223);padding-left: 50px;max-width: 500px;-webkit-appearance: none;background: url(/style/img/mail/omail.svg) no-repeat 20px center;}
.mailing_list_input:focus {outline: none;border: 1px solid #c1c1c1;}
.mailing_list_button,a.mailing_list_button {margin-left: 8px;outline: none;padding: 0;width: 23%;max-width: 150px;height: 52px;line-height: 52px;font-size: 20px;font-weight: bold;border-radius: 33px;border: none;color: #fff;background-color: rgb(0, 160, 232);cursor: pointer;margin-left: 10px;}
.mailing_list_button:hover {opacity: .5;}
.mailing_list_button:disabled {background: #f2f2f2;color: rgb(223, 223, 223);}
.mailing_list_button:disabled:hover {cursor: not-allowed;}
.mailing_list_button span {visibility: visible;transition: all .1s;}
.mailing_list_button.submit .success {opacity: 1;visibility: visible;}
.mailing_list_button.submit span {visibility: hidden;}
.success {margin-top: -44px;z-index: 1;opacity: 0;visibility: hidden;}
.success svg {width: 30px;height: 30px;fill: rgb(0, 160, 232);}

@media screen and (max-device-width:1024px) {
.mailing_list {flex-wrap: wrap;padding: 10px 20px 0 0px;width: calc(100% - 40px);}
.mailing_list_input {width: 100%;text-align: center;padding: 0;}
.mailing_list_button {width: 50%;margin-top: 20px;margin-left: 40px}
.k1 .bg {padding: 0;}
.k1 .bg {background: url(/style/img/mail/ibr2.png?2) no-repeat center bottom;background-size: 100% auto;}
.k1 .bg::before {background: url(/style/img/mail/mail2.png?2) no-repeat bottom;background-size: 100% auto;}
.k1 {padding: 20px 10px 0 10px;}
.iform {margin: 0 10px;padding: 25px 0 90px 0;}
.mailing_list_input {height: 44px;font-size: 14px;background-size: 18px auto;}
.mailing_list_button {height: 44px;line-height: 44px;font-size: 14px;}
.k1 .title_ + .btitle {font-size: 13px;}
.success{
    margin-top: -37px;
}
}
.title_ {
    margin-top: 2%;
}
/* 表单 */
.open_from {display: none;position: fixed;top: -200%;left: -200%;width: 1px;height: 1px;}
.open_from .loading {display: none;}



/* 等待动画 */

.loadx {line-height: 70px;color: rgb(0, 0, 191);width: 140px;height: 40px;position: fixed;z-index: 1011;top: 50%;left: 50%;margin: -20px 0 0 -70px;text-align: center;margin-top: -10px;}
.loadx .jtb {width: 26px;height: 26px;display: block;
    /* background: url(/style/img/loadx___.png) no-repeat center; */
    position: absolute;top: 0;left: 50%;margin-left: -13px;-webkit-animation: load 0.6s linear infinite;animation: load 0.6s linear infinite;}
.brxs {position: fixed;top: 0;left: 0;background-color: rgba(255, 255, 255,.9);width: 100%;height: 100%;z-index: 1012;}
@keyframes load {
from {
transform:  rotate(0deg);-webkit-transform:  rotate(0deg);}
to {
transform:  rotate(360deg);-webkit-transform:  rotate(360deg);}
}
@-webkit-keyframes load {
from {
transform:  rotate(0deg);-webkit-transform:  rotate(0deg);}
to {
transform:  rotate(360deg);-webkit-transform:  rotate(360deg);}
}

.no_mailing .iform{ padding-bottom:100px; }
.no_mailing .mailing_list_button{ display: block; margin: 0 auto; text-align: center; width: 50%;}
@media screen and (max-device-width:1024px) {
    .no_mailing .mailing_list_button {width: 50%;margin-top: 20px;margin-left: 95px}
}
.no_mailing .mailing_list{ padding-top: 20px;}
.no_mailing .btitle{ padding-bottom: 0; margin-bottom: 0;}
.no_mailing .title_{ margin-top: 0;}