 
.publication_img{ position: relative;}
.publication_img::before {
display: block;
content: "";
width: 100%;
position: relative;
padding-top: 60%;
}
.publication_img::after{ position: absolute
  ; content: ""; 
  /* background-color: rgba(0, 0, 0, .03);  */
  top: 0; left: 0; right: 0; bottom: 0; z-index: 11;}
.publication_img img {transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
left: 0;
z-index: 2;object-fit: contain;
}
 
 .title_1{ text-align: left; font-weight: bold; user-select: none; font-size: 30px; text-transform: none;}
  code{  margin: 0; font-size: 15px; background: #FEF5E7; color: #D68910;   border-radius: 0 8px 8px 8px; display: inline-block; user-select: none;}

  
.icon { display: inline-block;}
.icon:empty {
  display: none;
}
.icon a{ padding: 0 20px 0 0; transition: all 0.4s ease-in-out;}
.icon a img{ height: 23px;}

.icon .icon2{ display: none;}
 .icon:hover a {opacity: 1;}
 .icon a:hover .icon1{ display:none;}
 .icon a:hover .icon2{ display: inline-block;}

 .publication_list .hover_color{  vertical-align: baseline;     color: rgb(63, 63, 63); text-transform: none; font-weight: bold;}
.publication_list .hover_color:hover{ color: rgb(0, 0, 191); text-decoration: underline;} 
.publication_list .hover_color2{ font-size: 16px;  vertical-align: baseline;     color: #6c6c6c; font-family: Arial, Helvetica, sans-serif; margin-top: 1%; margin-bottom: -1.5%;}
.hover_color2 a, .hover_color2 a:link, .hover_color2 a:active{color: rgb(0, 0, 191);}
.hover_color2 a:hover{ text-decoration: underline;}
/* .publication_list .hover_color2:hover{ color: #C0392B; text-decoration: underline;}  */
.publication_list dl{  padding: 20px 0;display: flex;  flex-wrap: nowrap;
   
    justify-content: left;  border-bottom: 0px solid #e7e7e7; align-items: center;}
    .publication_list dl:nth-of-type(1){ padding-top: 5px;}
.publication_list p{ font-size: 14px; line-height: 16px; color: #a7a7a7; padding: 5px 0 5px 0; margin: 0;}
.publication_list p a{ padding: 5px 10px 5px 0; display: inline-block;}
    .publication_list dt{ min-width: 300px; max-width: 300px; margin-right: 20px;}
    .publication_list h2{ padding: 0; margin: 0;}
    .publication_list h3{ padding: 0 0 8px 0; margin: 0;}
    .icon img{ height: 20px;}
    .publication_list p:nth-last-child(1){ font-size: 12px;}

    /* 浮动 */
.pub_navk{ position: relative; }
.pub_nav{ height: 390px;  position: sticky;top: 400px; z-index: 10;   float: left; }
.pub_nav i{ background-size: cover; background-position: center; background-repeat:no-repeat ; display: inline-block; width:24px; height: 24px; margin:15px 0 0 15px; vertical-align: top;}
.pub_nav .icon__1{  background-image: url(/style/img/icon/v1.svg); }
.pub_nav a:hover .icon__1{background-image: url(/style/img/icon/v1_white.svg); }
.pub_nav .icon__2{  background-image: url(/style/img/icon/v2.svg); }
.pub_nav a:hover .icon__2{background-image: url(/style/img/icon/v2_white.svg); }
.pub_nav .icon__3{  background-image: url(/style/img/icon/v3.svg); }
.pub_nav a:hover .icon__3{background-image: url(/style/img/icon/v3_white.svg); }

.pub_nav .icon__4{  background-image: url(/style/img/icon/v4.svg); }
.pub_nav a:hover .icon__4{background-image: url(/style/img/icon/v4_white.svg); }

.pub_nav .icon__5{  background-image: url(/style/img/icon/v5.svg); }
.pub_nav a:hover .icon__5{background-image: url(/style/img/icon/v5_white.svg); }
.pub_nav a span{  padding:16px 20px 15px 10px;  overflow: hidden; height: 54px; display: inline-block;}
.pub_nav a{ display: block; padding-bottom:15px; }
.pub_nav a div{ position: relative; background: #fff; white-space:nowrap; border: 1px solid rgba(0,0,0,.1); height: 54px;  max-width:54px;  border-radius: 28px; display: block;  overflow: hidden; transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1); color: #fff;}
.pub_nav a:hover div{  background-color: rgb(0, 0, 191) ; border-color: rgb(0, 0, 191); color: #fff;}
.pub_nav a:hover div{ max-width: 500px;}

.publicationk{ width: 100%; margin-top: 3%;}
.publicationk{ padding-top:20px ;padding-bottom: 20px ;}
.publicationk:nth-of-type(1){ padding-top:40px ; }

.publicationw{ float: left; width: calc(100% - 100px); margin-left: 100px;}
.content{ padding-bottom: 80px;}
.content > .bg::after{ content: "";display: block; height: 20px;  clear: both; width: 100%;}
.pub_nav .kin{ position: absolute;}
 /* .pub_nav .kin:hover{ position: relative; width: 300px;} */
.publicationk name{ position: relative; top: -90px;}
.publicationk:nth-last-of-type(1) dl:nth-last-of-type(1){ border-bottom: none;}

@media screen and (max-device-width:1024px){
.pub_nav{ display: none;}
.publicationw{ width: 100%; margin-left: 0;}
.publication_list dl{ flex-wrap: wrap;}
.publication_list dt {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
}
.publication_img::before{ padding-top: 50%;}
.publication_list h3 { font-size: 12px; padding: 0;}
.publication_list h2{ font-size: 18px; padding-bottom: 5px; padding-top: 5px;}
.publication_list .hover_color2{ font-size: 13px;}
.content{ padding-bottom: 0;}
.publicationk:nth-of-type(1){ padding-top: 10px;}
.publication_list p{ font-size: 12px;}
}

br {
  user-select: none;
}

.title2 {
  font-size: 15px;
  margin-bottom: 1.5%;
}
.title2:hover {
  color: #D68910;
}

em {
  text-transform: none;
}