
.peoplewbr:nth-of-type(even){ background-color: #f2f2f2;}

br {
  user-select: none;
}

h3 {
  user-select: none;
}
    
.people_img {
  background-color: #f2f2f2;

  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 90px;
  margin: 0 auto;
}  .peoplewbr:nth-of-type(even)   .people_img {
  background: #fff;}
.people_img::before {
display: block;
content: "";
width: 100%;
position: relative;
padding-top: 100%;
}
.people_img img {transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
left: 0;
z-index: 2;
}
.people_list { display: flex; 
flex-wrap: wrap;

 padding: 0 0 40px 0;  }
.people_list dl {width: calc((100% - 40px) / 4); padding: 20px 0 ; margin: 0 10px 0 0; }
.people_list dl:nth-of-type(4n + 1){ margin-left: 0;}
.people_list dl a,.people_list dl{ display: flex;align-items: center;}
.people_list .people_img { margin-right: 8px;}
.people_list ,.people_list a{ color: #000;}

.people_list a h2{ 
  color: rgb(0, 0, 191); 
  font-size: 19px;
  font-weight: 700;
}
.people_list .without_url {
  cursor: default;
}
.people_list .without_url h2 {
  color: #000;
}
.people_list a p{ 
  font-size: 13px;
}

 .people_list h2 { display: inline-block; position: relative;  margin-bottom: 0;   font-size: 16px;}
 .people_list p{ font-size: 13px; margin-top: 8px; line-height: 18px;}
 .people_list dl a:hover img{ background-color:#94c9e5 ; }
 .people_list dl a h2::before {
content: '';
height: 0;
border-bottom: 2px solid rgb(0, 0, 191);
width: 0;
display:block;
position: absolute;
bottom: -5px;
right: 0;
transition: all 300ms cubic-bezier(0.75, 0, 0.25, 1);

 }
.people_list dl .without_url h2::before {
  border-bottom: 0px solid #000;
 }
.people_list dl a:focus h2::before,.people_list dl a:hover h2::before {
  left: 0;
right: 0 ;
width: 100% 
 }
 @media screen and (max-device-width:1024px){
 .people_list dl{ width: 100%; margin: 0; padding: 10px 0;}
 .people_list .people_img { width: 90px; height: 90px;}


 }

.content {
  margin-bottom: -7px;
}
.role {
  margin: 0px;
  display: inline-block;
  color: rgb(128, 128, 128, 0.7);
}