body {
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: "San Francisco", "system-ui";
}



h1, h2, h3, h4, h5, h6, p, span, a, li, table, div {
    text-transform: none;
    color: rgb(33, 33, 33);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
p, span, li {
    text-align: justify;
}
br {
    user-select: none;
}
code {
    color: #00a0e8;
    font-weight: bold;
    background-color: rgba(0, 160, 232, .23);
    padding: 0 3px;
    user-select: all;
    margin: 0 3px;
}
img {
    user-select: none;
}
li {
    list-style-type: circle;
}
@media screen and (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6, p, span, li, table, div {
        font-size: 121%;
    }
}



a {
    font-weight: bold;
    text-decoration: none;
}
a:any-link:hover, a:-webkit-any-link:hover {
    opacity: .67;
}
a .link_img {
    display: none;
    content: url(/assets/icon/link.png);
}
a:hover .link_img {
    display: inline;
    height: 20px;
}

span a, p a, li a{
    font-weight: normal;
    color: #00a0e8;
}



.sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 900;
    flex-basis: 1;
    background-color: rgb(233, 233, 233);
    border-bottom: 3px solid white;
    top: 64px;
    flex-direction: column;
    & .navigator {
        border-bottom: 3px solid white;
    }
    & .sticky_row {
        display: flex;
        & a {
            width: 20%;
            text-align: center;
            padding: 17px;
        }
        & a:hover {
            color: #00a0e8;
            opacity: 1;
        }
        & .image {
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                height: 20px;
            }
            & img:hover {
                opacity: .33;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        top: 110px;
    }
}



.banner_container, .block, .block_left, .block_right, .block_center, .block_footer, .block_header {
    display: flex;
    flex-basis: 0;
    padding: 0 max(55px, 5%);
}
.banner_container {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.block_left {
    flex-direction: row;
}
.block_right {
    flex-direction: row-reverse;
    background-color: rgb(233, 233, 233);
}
.left_right {
    padding-top: max(33px, 3%);
    padding-bottom: max(33px, 3%);
    @media screen and (max-width: 1024px) {
        padding-bottom: max(55px, 5%);
    }
}
.block_left div, .block_right div {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .block_left, .block_right {
        flex-direction: column;
    }
}
.block_center {
    flex-direction: column;
    justify-content: center;
}



.navigator {
    border-bottom: 3px solid rgb(233, 233, 233);
    flex-grow: 1;
}
.navigator a, .navigator br {
    margin-right: max(22px, 2%);
    font-size: x-small;
    text-wrap: nowrap;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}



.citation {
    background-color: #f6f8fa;
    margin: 0;
    margin-top: 7px;
    padding: 17px;
    border-radius: 7px;
    font-size: 88%;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    color: #0a3069;
    & span {
        display: contents;
    }
    & .citation_red {
        font-size: 99%;
        color: #cf222e;
    }
    & .citation_blue {
        font-size: 99%;
        color: #6639ba;
    }
}
.citation br {
    user-select: text;
}



.block_left div .person_two_column {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    justify-content: space-between;
    column-gap: max(55px, 5%);
}
.block_left div .person_container, .block_left div .person_two_column div .person_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    gap: 33px;
    margin-bottom: max(33px, 3%);
}
.block_left div .person_container div img, .block_left div .person_two_column div .person_container div img {
    width: 100%;
}
.block_left div .person_container div h4, .block_left div .person_container div span, .block_left div .person_two_column div .person_container div h4, .block_left div .person_two_column div .person_container div span {
    margin-bottom: 7px;
    text-align: left;
}
.block_left div .person_container div div, .block_left div .person_two_column div .person_container div div {
    border-bottom: 3px solid rgb(233, 233, 233);
}
@media screen and (max-width: 1024px) {
    .block_left div .person_container {
        & h4, span {
            font-size: 66%;
        }
    }
    .block_left div .person_two_column {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .block_left div .person_container, .block_left div .person_two_column div .person_container {
        grid-template-columns: repeat(auto-fill, 45%);
    }
}



.brand_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-33px, -3%);
}
.brand_container div {
    margin: max(22px, 2%) max(33px, 3%);
}
.brand_container div img {
    height: 66px;
}
.brand_container div {
    display: flex;
    flex-direction: row;
}
.brand_container div div {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 0 7px ;
}
.brand_container div div div {
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 33px;
    font-size: xx-small;
    user-select: none;
}
@media screen and (max-width: 1024px) {
    .brand_container div img {
        height: 55px;
    }
    .brand_container div div div {
        font-size: normal;
    }
}



.block_left div .brand_container_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 min(-11px, -1%);
}
.block_left div .brand_container_title div {
    margin: max(11px, 1%);
}
.block_left div .brand_container_title div img {
    height: 33px;
}



.widget_container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
/* .widget_container br {
    @media screen and (max-width: 1024px){
        display: none;
    }
} */
.widget_container a {
    height: 33px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    & span {
        font-size: 17px;
        color: #0c318f;
    }
}
@media screen and (max-width: 1024px) {
    .widget_container a span {
        font-size: 23px;
        color: #0c318f;
    }
}
.widget_container a img {
    height: 100%;
}



.block_left div .event_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 512px);
    justify-content: space-between;
    gap: 22px;
    margin-bottom: max(33px, 3%);
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}
.block_left div .event_container a {
    background-color: rgb(233, 233, 233);
}
.block_left div .event_container a img {
    height: 288px;
    width: 100%;
    background-size: cover; 
    background-position: left;
    @media screen and (max-width: 1024px) {
        height: 50vw;
    }
}
.block_left div .event_container a div {
    justify-content: space-between;
    height: 224px;
    @media screen and (max-width: 1024px) {
        height: 320px;
    }
}
.block_left div .event_container a div div {
    padding: 0 33px 11px 33px;
    & h2 {
        margin-bottom: 0;
    }
    & span {
        text-align: right;
        color: #00a0e8;
        margin: 11px 0;
        padding-right: 11px;
        border-right: 7px solid #00a0e8;
    }
}
@media screen and (max-width: 1024px) {
    .block_left div .event_container a div div {
        & h2, h3, span {
            font-size: 66%;
        }
    }
}



.publication_container div {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        margin: 33px 0;
    }
}
.publication_container div .publication_container_first {
    align-items: center;
    margin-right: 22px;
    & a img {
        width: max(17vw, 384px);
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}
.publication_container div .publication_container_second {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    & h2, h4, div, span {
        margin: 5px 0;
        padding: 0;
    }
    & h2 {
        font-size: 222%;
        @media screen and (max-width: 1024px) {
            font-size: 44px;
        }
    }
    & h4 {
        font-weight: normal;
        @media screen and (max-width: 1024px) {
            font-size: 33px;
        }
        & a {
            color: #0c318f;
        }
    }
    & div {
        flex-direction: column;
        & div {
            flex-direction: row;
            & a {
                font-weight: normal;
                margin-right: 22px;
                color: #0c318f;
                @media screen and (max-width: 1024px) {
                    font-size: 33px;
                }
                & img {
                    height: 27px;
                    @media screen and (max-width: 1024px) {
                        height: 44px;
                    }
                }
            }
        }
    }
    & span {
        font-style: italic;
        color: gray;
        text-align: justify;
        @media screen and (max-width: 1024px) {
            font-size: 33px;
        }
    }
}
