.banner {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
}
.banner_container div {
    display: flex;
    margin-top: 1vh;
}
.banner_title_en span {
    text-align: left;
}
.banner_subtitle_en span {
    font-size: 3vh;
    text-align: left;
}



.left_right {
    padding-top: max(55px, 5%);
    padding-bottom: max(55px, 5%);
}



.left_right div .event_container {
    grid-template-columns: repeat(auto-fill, 27vw);
    margin: 0;
}
.left_right div .event_container a img {
    height: 15vw;
}


.publication_container div {
    &:last-child {
        margin-bottom: 0px;
    }
}
.publication_container div .publication_container_second div div {
    align-items: center;
}
