.banner {
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
}
.banner_container div {
    display: flex;
    margin-top: 1vh;
}
.banner_title_en span {
    text-align: left;
}
.banner_subtitle_en span {
    text-align: left;
}



.left_right {
    padding-top: max(55px, 5%);
    padding-bottom: max(55px, 5%);
}


@media screen and (min-width: 1024px) {
    .left_right div .event_container {
        grid-template-columns: repeat(auto-fill, 27vw);
        margin: 0;
    }
    .left_right div .event_container a img {
        height: 15vw;
    }
}



.publication_container div {
    margin: 11px 0;
    &:last-child {
        margin-bottom: 0px;
    }
}


.block_title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        flex-direction: row;
    }
    & div {
        justify-content: center;
        &:first-child {
            flex-grow: 1;
            justify-content: flex-start;
        }
        & img {
            height: 84px;
            width: fit-content;
        }
    }
}
