.join_list {     transition: all 800ms cubic-bezier(0.75, 0, 0.15, 1);}
    .join_list .kin{display: flex;  flex-wrap: wrap;
    
    justify-content: left;   }
    .join_list dl {width: 100%; margin: 20px 0 0 0; padding: 0 ;  background-color: rgba(255, 255, 255,.9);backdrop-filter: blur(20px);-moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.2); position: relative;
box-shadow: 0 0 2px rgba(0,0,0,.2);}
@media screen and (min-width:1024px){
.join_list dl:nth-of-type(1),.col_2 .join_list dl:nth-of-type(2),.col_3 .join_list dl:nth-of-type(2),.col_3 .join_list dl:nth-of-type(3),.col_4 .join_list dl:nth-of-type(2),.col_4 .join_list dl:nth-of-type(3),.col_4 .join_list dl:nth-of-type(4){ margin-top: 10px;}
}
    .join_list dl {display: flex;   flex-wrap: wrap;    justify-content: center; align-items: center; padding:23px}
    .join_list dl dt{ margin-right: auto; width: 0%;}
    .join_list dl dd{ margin-left: auto; width: calc(100% - 7px);}
 
    .join_img{ position: relative;}
    .join_img::before {
display: block;
content: "";
width: 100%;
position: relative;
padding-top: 60%;
}
.join_img::after{ position: absolute
  ; content: ""; background-color: rgba(0, 0, 0, .03); top: 0; left: 0; right: 0; bottom: 0; z-index: 11;}
.join_img img {transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
left: 0;
z-index: 2;object-fit: cover;
}
.joinwbr{ background-size: cover;transition: background 0.4s ease-in-out;
-webkit-transition: background 0.4s ease-in-out;
-moz-transition: background 0.4s ease-in-out;}
.joinwbr .title_1{ text-align: left; font-weight: bold;}
.title_1{ text-align: left; font-weight: bold;font-size: 33px;
    user-select: none;}
.join_icon{ position: relative;    width: 40px; font-weight: normal; line-height: 40px;
    height: 40px; float: right; 
     text-align: center; font-size: 28px;
   
    
  cursor: pointer;
   }
   .join_icon:hover{ color: #54c9bd;}
   .joinwbr.active.white .join_icon:hover{ color: #fff;}
   .join_icon::before{ content: "+";}
   /* .join_icon:hover{ background-color: #f2f2f2;} */
   .active .join_icon::before{  content: "-"; font-size:32px; }
   .join_list h2{margin: 0;    text-transform: inherit;}
   .join_list h3{font-size: 15px; line-height: 200%; color:gray;margin-left: 1%;    text-transform: inherit;}
.join_list p{ padding: 0; margin: 8px 0;}
.join_list dd button { padding: 5px 20px; margin:5px 0 0 0;    background: rgb(12, 49, 143);
    color: #fff; font-size: 16px; font-weight: normal;
    padding: 8px 20px; border: none; cursor: pointer;}
    .join_list dd button:hover{ opacity: 0.8;}
    .join_list { max-height: 0; overflow: hidden;}
    .active .join_list { max-height: 2000px;  }
    .join_list .kin{padding: 0 0 40px 0;     
   }
   /* .title_1 span:nth-of-type(1){ width: calc(100% - 40px); padding: 12px 0;}
   .title_1::after{  content:"" ; display: block; width: 100%;  height: 0; border-top:1px solid #D7D7D7; top: 0; left: 0; right: 0; position: absolute;} */
   /* .title_1{position: relative; line-height: 60px; margin: 0;     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    user-select: none;} */
    
   .active + .joinwbr h3{ border: none;}
   /* .joinw{ padding: 30px 0;} */
   .joinwbr:nth-of-type(1) .title_1::after,.joinwbr:nth-of-type(odd).active .title_1::after{ display: none;}


   @media screen and (min-width:1024px){
.col_4 .join_list .kin,.col_3 .join_list .kin{    display: flex;
    box-sizing: border-box;  }
.col_4  .join_list dl,.col_3  .join_list dl {
   
   
    font-size: 14px;
    margin-left: 20px;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    position: relative;
}
.col_4  .join_list dl p,.col_3  .join_list dl  p{ font-size: 12px; line-height: 18px;}
.col_4  .join_list dl{ width: calc(25% - 18px); align-items: top;}
.col_3  .join_list dl{ width: calc(33.3% - 18px);}
.col_3  .join_img::before{    padding-top: 50%;}
.col_4 .join_list dl dt,.col_3 .join_list dl dt{ width: 100%;}
.col_4 .join_list dl dd,.col_3 .join_list dl dd{ width: 100%; padding:15px; height: 100%;}
.col_4 .join_list dl:nth-of-type(4n + 1) {
    margin-left: 0;
} 
.col_3 .join_list dl:nth-of-type(3n + 1) {
    margin-left: 0;
} 

.col_2 .join_img,.col_1 .join_img{ position: relative; height: 100%;}
.col_2 .join_list dl dt,.col_1 .join_list dl dt{ position: relative; height: 100%;}
.col_2 .join_img::before{ padding-top: 100%;}
.col_2 .join_list dl{flex-wrap: wrap;}
.col_2 .join_list dl dt,.join_list dl dd{ flex-direction: column; display: flex;}
.col_2 .join_list dl{ width:calc(50% - 12px) ; margin-left: 20px;}
.col_2 .join_list dl:nth-of-type(2n + 1) {
    margin-left: 0;
} 

.col_2 .join_list p{ font-size: 12px; line-height: 18px;}
.col_2 .join_list dl dt{ width: 40%;}
.col_2 .join_list dl dd{    width: calc(60% - 35px);}
   }
.joinwbr{ position: relative;}
.joinwbr.active.white .title_1{ color: #fff; border:none }
 
.joinwbr:not(.active){ background: none !important;}
.joinwbr:nth-of-type(1){ padding-top: 30px;}
.joinwbr:nth-last-of-type(1){ padding-bottom: 30px;}
.joinwbr:nth-of-type(odd){ background-color: #f2f2f2;}
.join_list a{ text-align: right;}
.joinwbr{ position: relative;}
.active::after,.active + .active::after{ content:"" ; display: block; width: 100%; height: 0; border-top:1px solid #D7D7D7; bottom: 0; left: 0; right: 0; position: absolute;}
.active + .joinwbr .title_1::after{ display: none !important;}
.join_list button:empty,.join_list h3:empty{ display: none;}
.join_list dd a { display: block; height: 36px;}
.join_list dd button{    right:23px;
    bottom: 23px;
    position: absolute;}
@media screen and (max-device-width:1024px){
.join_img{ position: relative; height: 100%;}
.join_list dl dt{ position: relative; height: 100%;}
.join_list p{ font-size: 12px; line-height: 16px;}
.join_list dl dt{ width:0%;}
.join_list dl dd{ width: calc(100% - 30px); padding: 15px;}
.join_list h2{ font-size: 17px;  text-overflow: ellipsis;
    margin-top: -5%;
    margin-bottom: -5%;
    margin-left: -3%;
    margin-right: -3%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;/*--行数--*/}
.join_list h3{ font-size: 13px;
    margin-left: -2%;
    margin-right: -3%;}
.join_list .content{ 
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 3%;
    margin-left: -3%;
    margin-right: -3%;
}

.join_list dd button{ font-size: 12px;  width: 90%; padding-top: 3%; padding-bottom: 3%;}
.join_list .bg{ padding:0 12px;}
.join_list dl{ margin-top: 12px;}
.joinwbr>.bg{ padding: 0;}
.title_1{ padding-left: 5%; font-size: 28px;  cursor: pointer; padding-right: 5%; }
/* .join_icon{ height: 34px;} */
.join_list dl:nth-of-type(1){ margin-top: 5px;}
.join_icon{ font-size: 24px;}
.joinwbr:nth-of-type(1){ padding-top: 10px;}
.join_list p{ margin: 4px 0 0 0;}
.join_list dd a{ z-index: 100; display: block;  position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: auto;}
.join_list .kin{ padding: 0 0 20px 0;}
.join_list dd a button{ position: absolute; right: 5%; bottom: 5%;}

/* .join_list a{ display: block; width: 100%; text-align: right;}*/
.m_zy .join_list dl:nth-of-type(odd) dt { right: 0;
    width: 45%;
    height: 100%;
    position: absolute;
}
.m_zy .join_list dl:nth-of-type(odd) dd{ margin-right: auto; margin-left: 0;}
.m_zy .join_list dl:nth-of-type(odd) a{ text-align: left;} 

.join_list p{ text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;/*--行数--*/}
.join_list h3{ text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 200;/*--行数--*/}

}

.description {
    font-size: 17px;
    line-height: 170%;
    /* font-weight: bold; */
}
.description a{
    color: rgb(0, 0, 191);
}
.description a:hover{
    text-decoration: underline;
}
@media screen and (max-device-width:1024px){
    .description {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.ititle {
    font-size: 27px;
    font-weight: bold;
    line-height: 150%;
}
.content {
    font-size: 17px;
    /* line-height: 150%; */
}