.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .5);
    @media screen and (max-width: 1024px) {
        background-position: 30%;
    }
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo, .banner_logo_u {
    flex-direction: row;
}
.banner_logo img {
    height: 66px;
    margin-right: 33px;
}
.banner_logo_u img {
    height: 33px;
}



.banner_title {
    flex-direction: row;
}
.banner_title span {
    font-size: 99px;
    font-weight: bold;
    color: rgb(233, 233, 233);
    text-align: left;
}



.banner_title_sub span, .banner_title_sub span a {
    font-size: 32px;
    font-weight: bold;
    color: rgb(233, 233, 233);
}



.banner_content span {
    font-size: 23px;
    color: rgb(233, 233, 233);
}



.rules {
    margin: 0;
    padding-inline-start: 17px;
}
@media screen and (max-width: 1024px) {
    .rules {
        padding-inline-start: 27px;
        font-size: 1rem;
    }
    html {
        font-size: 16px !important; 
    }
    span{
        font-size: 1.25rem;
    }
}
.faq ul {
    margin-top: 3;
    margin-bottom: 11px;
}



.note {
    display: flex; 
    align-items: center;
}
.note a img {
    height: 33px;
    @media screen and (max-width: 1024px) {
        height: 44px;
        margin-right: 11px;
    }
}




.track_title {
    margin: 0;
}
.track_title h1 {
    font-size: 333%;
    margin: 0;
}
.navigator a {
    font-size: large;
}

.rankTable{
    margin: 24px 0px;
    border-collapse: collapse;
    border-spacing: 0; 
}

/* 表格样式 */
.rankTable table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.rankTable th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.rankTable th {
    background-color: #f0f0f0;
    position: relative;
}

.rankTable tr {
    background-color: #f9f9f9;
}

/* 图片样式 */
.rankTable img {
    width: 30px;
    height: 20px;
}

/* 分页样式 */
.rankTable  button {
    padding: 10px 10px;
    margin: 0 15px 0 0;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
}

.rankTable select {
    padding: 10px;
    height: 36px;
    margin: 0 15px 0 0;
}

/* 悬停效果 */
.rankTable tr:hover {
    background-color: #f5f5f5;
}

.rankTable .sort-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.rankTable .sort-icon.up {
    color: #0000ff;
    /* 蓝色表示升序 */
}

.rankTable .sort-icon.down {
    color: #15cde5;
    /* 红色表示降序 */
}

