li a {
    color: #00a0e8;
}



.banner {
    width: 100%;
    height: 100%;
    background-image: url(/assets/background/seattle_cvpr.jpg);
    background-size: cover; 
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgb(33, 33, 33, .3);
    @media screen and (max-width: 1024px) {
        background-position: 27%;
    }
}
.banner_container div {
    display: flex;
    margin-top: 33px;
}
.banner_logo {
    flex-direction: row;
}
.banner_logo img {
    height: 55px;
    margin-right: 33px;
}
.banner_logo_u {
    flex-direction: column;
}
.banner_logo_u span{
    margin-bottom: 11px;
}
.banner_logo_u img {
    height: 55px;
}



.block_right {
    background-color: white !important;
}

.banner_title_en span {
    text-align: left;
}



.spad div {
    padding-left: 2%;
    padding-right: 2%;
    @media screen and (max-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
    }
}



.sevent {
    padding-top: max(66px, 2%) !important;
    padding-bottom: max(22px, 2%) !important;
    & .img_challenge {
        background-image: url(/assets/background/seattle_space_needle.jpg);
    }
    & .img_workshop {
        background-image: url(/assets/background/seattle.jpg);
    }
    & .img_tutorial {
        background-image: url(/assets/background/seattle_gen.jpg);
    }
    & .img_social {
        background-image: url(/assets/event/photo-1491438590914-bc09fcaaf77a.jpg);
    }
    & h4{
        width: fit-content;
        background-image: linear-gradient(to right, #0c318f, #53c2f0, #00a0e8);
        -webkit-background-clip: text;
        color: transparent;
        user-select: none;
    }
    & a {
        text-decoration: underline;
        color: #00a0e8;
    }
    & .img {
        padding: 160px;
        user-select: none;
        background-size: cover; 
        background-position: center;
        border-radius: 99px;
    }
    @media screen and (max-width: 1024px) {
        margin-bottom: 33px;
        /* & .desc {
            display: none;
        } */
        & .img {
            padding: 192px;
            margin-bottom: 33px;
        }
    }
}


.spub a {
    text-decoration: underline;
    color: #00a0e8;
}


.person_container {
    gap: 10% !important;
}



.srecruit {
    background-color: rgb(33, 33, 33);
    margin-bottom: -1px;
}



.spub {
    padding-top: max(22px, 2%) !important;
    padding-bottom: max(11px, 1%) !important;
    & h4{
        width: fit-content;
        background-image: linear-gradient(to right, #0c318f, #53c2f0, #00a0e8);
        -webkit-background-clip: text;
        color: transparent;
        user-select: none;
    }
    & a {
        text-decoration: underline;
    }
    & img {
        width: min(512px, 100%);
    }
    & .spub_icon{
        height: 24px;
        width: auto;
    }
    @media screen and (max-width: 1024px) {
        & img {width: 100%;}
    }
}



.joinus {
    align-items: center;
    @media screen and (max-width: 1024px) {
        align-items: flex-start;
    }
}



h2 a {
    color: inherit !important;
    text-decoration: inherit !important;
}



.event_speaker {
    padding: 0 !important;
    width: 100%;
    border: 0px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 256px);
    justify-content: space-between;
    gap: 16px;
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(auto-fill, 45%);
    }
    & div {
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        gap: 16px;
        width: fit-content;
        & a img {
            height: 64px;
            border-radius: 100%;
            @media screen and (max-width: 1024px) {
                height: 80px;
            }
        }
        & div {
            gap: 0;
            min-width: 192px;
            flex-direction: column;
            justify-content: space-evenly;
            @media screen and (max-width: 1024px) {
                min-width: 100%;
            }
        }
    }
}


a .link_img_show {
    display: inline;
    width: 20px;
    content: url(/assets/icon/link.png);
}



.snapshots_container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-between;
    gap: 30px;
    margin-bottom: max(33px, 3%);
}
.snapshots_container div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 1px solid lightgray;
}
.snapshots_container div a {
    display: flex;
}
.snapshots_container div a img {
    height: 210px;
    width: 280px;
    background-size: cover; 
    margin: 3px;
}
@media screen and (max-width: 1024px) {
    .snapshots_container {
        grid-template-columns: repeat(auto-fill, 45%);
    }
    .snapshots_container div a img {
        width: 100%;
    }
}
